{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Cart{% endblock %}

{% block content %}
<h1 class="display-4">Cart</h1>
<div>
  {% if count == 0 %}
  <p>There are no items.</p>
  {% elif count == 1 %}
  <p>There is 1 item.</p>
  {% else %}
  <p>There are {{ count }} items.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Sugar Level</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_product_name() }}</td>
        <td>{{ user.get_quantity() }}</td>
        {% if user.get_sugar_lvl() == "0%" %}
        <td>0%</td>
        {% elif user.get_sugar_lvl() == "25%" %}
        <td>25%</td>
        {% elif user.get_sugar_lvl() == "50%" %}
        <td>50%</td>
        {% elif user.get_sugar_lvl() == "75%" %}
        <td>75%</td>
        {% elif user.get_sugar_lvl() == "100%" %}
        <td>100%</td>
        {% endif %}
        <td><a href="/updateCart/{{user.get_user_id()}}" class="btn btn-warning">Edit</a></td>
        <td>
          <form action="{{url_for('delete_cart', id=user.get_user_id())}}" method="POST">
            <!--input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_product_name()}} {{user.get_last_name()}}?');">
             Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_user_id()}}">
              Delete
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModal_{{user.get_user_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{user.get_product_name()}}?
                  </div>


                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="/order" class="btn btn-warning">Checkout </a>
</div>
{% endblock %}
